/* Main layout */
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  z-index: 1;
}

.layout::before {
  content: '';
  height: 266px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--secondary-tint);
}

@media (max-width: 767px) {
  .layout::before {
    height: 216px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .layout::before {
    height: 265px;
  }
}
@media (max-width: 767px) {
  .layout::before {
    height: 200px;
  }
}

#main, #footer {
  position: relative;
  margin-top: 150px;
}

@media (min-width: 1000px) {
  #main, #footer {
    padding: 0 40px 30px 310px;
  }
}
@media (max-width: 999px) and (min-width: 768px) {
  #main, #footer {
    padding: 0 40px 30px;
    margin-top: 140px;
  }
}
@media (max-width: 767px) {
  #main, #footer {
    padding: 0 12px 32px;
    margin-top: 90px;
  }
}

.content--boxed {
  max-width: 1170px;
  margin: 0 auto;
}
.content--boxed-sm {
  max-width: 915px;
  margin: 0 auto;
}

.content__header {
  margin-bottom: 25px;
  position: relative;
  user-select: none;
}
.content__header > h2 {
  font-size: 18px;
  color: var(--main-text-color);
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.content__header > h2 > small {
  display: block;
  text-transform: none;
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--secondary-color);
  line-height: 140%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .content__header {
    padding: 0 32px !important;
  }
}
@media screen and (max-width: 991px) {
  .content__header {
    padding: 0 14px;
  }
}
