/* Footer */
#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  color: var(--main-control-color);
  user-select: none;
}
#footer .footer__menu {
  margin: 0;
  list-style: none;
}
#footer .footer__menu > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}
#footer .footer__menu > li > a {
  color: var(--secondary-color);
  transition: all .1s ease-in;
}
#footer .footer__menu > li > a:hover, #footer .footer__menu > li > a:focus {
  color: var(--main-text-color);
}

@media (max-width: 600px) {
  #footer {
    display: block;
    text-align: center;
  }
  #footer .footer__menu {
    margin-top: 12px;
  }
}
